* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
 }

 *::selection {
    background: rgb(7, 61, 7);
    color: white;

}

img {
    width: 25px;
}


.header {
    background: rgb(3, 72, 3);
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75) inset;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
}
    
.header__container-user {
  display: none;
}
   
   
.header__logo {
  width: 30px;
}

.header__nav,
.header__user {
    display: none;
}

.header__container-user-mobile i {
    color: #fff;
    font-size: 25px;
}

.main__container-logo {
    display: none;
}

.main__title  {
    font-size: 50px;
    line-height: 1.2;

}

.main__title span {
    color: rgb(14, 98, 14);
}

.main__description {
    margin-top: 20px;
    font-weight: bolder;
    
}

.main {
    margin-top: 80px;
    padding: 15px 15px 60px;

}

.main__container-text {
    display: flex;
    flex-direction: column;
}

.gallery {
    background: rgb(2, 59, 2);
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__img {
    width: 85%;
    margin-top: 15px;
}

.contact {
    background: #000;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
    
}

.contact__titulo {
    color: darkgreen;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

.contact__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}
 
.contact__input input,
  .contact__input textarea {
    
    padding:  5px ;
    border-radius: 7.5px;
    border: 0
}

.contact__form {
    background: rgb(3, 75, 3);
    padding: 15px;
    color: #fff;
    width: 280px;

}

.contact__input label {
    font-size: 14px;
}
 
.contact__input input::placeholder,
  .contact__input textarea::placeholder {
    color: rgb(6, 42, 6);
    font-weight: bolder;
    font-size: 12px;

}

.contact__input {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

  
.contact__input input:focus,
  .contact__input textarea:focus {
    background: #000;
    color: #fff;

}

  
.contact__btn {
    background: inherit;
    border: 1px solid #fff;
    padding: 4px 0;
    width: 45%;
    color: #fff;
    border-radius: 7.5px;
    margin-top: 20px;
    transition: all 0.5s;
    

}

  
.contact__btn:hover {
    background: yellow;
    border: 1px solid yellow;
}
